body{
    font-family: 'Open Sans', sans-serif;
    color: darkblue;
    margin: 10px,50px,10px,50px;
    background-color: ivory;
}
h1{
    font-family: 'Oswald', sans-serif;
}
h2{
    font-family: 'Oswald', sans-serif;
}
img{
    float: left;
    margin-right: 10px;
}
.left-column{
    float:left;
    width: 300px;
    padding: 10px;
}
.middle-column{
    margin-right: 300px;
    margin-left: 300px;
    padding: 10px;
}
.right-column{
    float: right;
    width: 300px;
    padding: 10px;
}
#nav ul{
    list-style-type: none;
}
#nav li{
    display: inline;
    margin-left: 60px;
    margin-right: 60px;
}